body{
	background-color: #f2f2f2;
	padding-top: 75px;
}

.titulo {
	font-size: 2rem;
	margin-left: 5%;
	margin-right: auto; 
}

.topo-fixo {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

/*Lista de Tarefas*/

#tarefa, .tarefa-edit {
	font-size: 1.2em;
}

#tarefa {
	width: 33em;
}

.tarefa-edit {
	width: 31em;
}


.tarefa-item {
	padding: 1em;
	vertical-align: middle;
}

.tarefa-item:hover {
	background-color: #eee;
}

.tarefa-texto {
	display: block;
	float: left;
}

.clear {
	clear: both;
}

.tarefa-delete {
	width: 16px;
	height: 16px;

	background-image: url("../images/delete.gif");
	background-repeat: no-repeat;
	
	display: block;
	float: right;

	visibility: hidden;
}

.tarefa-item:hover .tarefa-delete {
	visibility: visible;
}

.tarefa-id {
	visibility: hidden;
}

.mrl{
	padding-left: 20px;
	padding-right: 20px;
}
    