<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.exemplo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>exemplo</name>
    <description>
        Hello World sample application that responds to the deviceready event.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        Thales Sousa
    </author>
    <gap:platform name="android"/>

</widget>
